<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Index</title>
  <meta charset="utf-8"/>
</head>
<body>
  <ul>
    <li th:action="@{/(name=${name})}" method="get"><a href>Information</a></li>
    <li><a href="/login">Login</a></li>
  </ul>
  <br>
  <img src="/greenfox.png" alt="Fox">
  <p th:text="|This is ${name}. Currently living on:|"></p>
 <div th:switch="${diet}">
    <p th:case="null">nothing. Starving...</p>
    <p th:case="*" th:text="|${food} and ${drink}.|"></p>
  </div>
  <p th:text="|He knows ${numberOfTricks} tricks.|"></p>

  <h1>Known tricks</h1>

  <p th:if="${tricks.isEmpty()}">You don't know any tricks. Go and learn some!</p>

  <ul th:unless="${tricks.isEmpty()}">
    <li th:text="${tricks}"></li>
  </ul>

</body>
</html>