<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <title>Assignees</title>
</head>
<body>
<form th:action="@{/assignees/}" method="Post" th:object="${assignee}">
  <input type="text" id="name" th:field="*{name}" placeholder="Enter name" required>
  <input type="email" id="email" th:field="*{email}" placeholder="Enter E-mail address" required>
  <input type="submit" value="Add Assignee">
</form>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>NAME</th>
    <th>EMAIL</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="assignee : ${assignees}">
    <td th:text="${assignee.id}"></td>
    <td><a th:text="${assignee.name}"></a></td>
    <td th:text="${assignee.email}"></td>
  </tbody>
</table>

</body>
</html>