body{
    background-color: cornflowerblue;
    padding: 20%;
}

table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
}

th, td {
    padding: 20px 150px 20px 20px;            
}

table{
    font-family: sans-serif;    
}

th{
  background-color: black;
  color: white;
  border-bottom: 5px solid gray;
  text-align: left;
}
    
tr {
  background-color: darkgray;
  color: dimgray;
}
    
tr:nth-child(2n) {
  background: white; 
}

td {
    
}